*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "BebasRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
	cursor: default;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	position: relative;
	background: url('../img/top_bg_alt.jpg') no-repeat top center;
	height: 668px;
	font-family: "BebasRegular";
	width: 100%;
}
.header__top-line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	width: 100%;
	background: rgba(0,0,0,.86);
	padding-top: 24px;
}
.header__top-line strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-size: 32px;
}
.header__top-line a {
	font-size: 19px;
	text-decoration: underline;
}
.top-line__address {
    padding-left: 48px;
    background: url('../img/top_map.png') no-repeat center left;
		line-height: 28px;
}
.top-line__address a {
	color: white;
}
.top-line__logo_wrap {
    position: relative;
    width: 240px;
    margin: auto;
}
.top-line__logo {
    position: absolute;
    top: -25px;
    width: 100%;
}
.top-line__call {
    line-height: 28px;
    text-align: right;
}
.top-line__call a {
	color: white;
}
.top-line__call span {
	color: #fefefe;
}
.slogan {
	margin-top: 83px;
}
.slogan h1 {
    font-size: 40px;
    margin: 0.67em 0;
    text-align: center;
    margin: 0;
    color: white;
    line-height: 26px;
}
.shadowed {
	text-shadow: rgba(0,0,0,.55) 0 2px;
}
.header__button {
    position: absolute;
    bottom: 33px;
    width: 100%;
}
.header__button a {
	color: white;
	font-size: 20px;
	line-height: 18px;
	font-family: "BebasBold";
}
.header__button_left {
    width: 240px;
    background-color: #d12f22;
    display: inline-block;
    min-height: 54px;
    border-bottom: #ac160a solid 4px;
    float: left;
}
.header__button_left:hover {
	background-color: #e05046;
}
.header__button_left:active {
	background-color: #a6241b;
}
.header__button_right {
    margin-left: 21px;
    background-color: #d12f22;
    min-width: 96px;
    min-height: 54px;
    border-bottom: #ac160a 4px solid;
    float: left;
    padding: 16px 0px;
    text-align: center;
}
.header__button_right:hover {
	background-color: #e05046;
	text-decoration: none;
}
.header__button_right:active {
	background-color: #a6241b;
}
.button__left_img {
    float: left;
    padding: 10px 13px;
}
.button__left_text {
    float: left;
    width: 169px;
    padding: 7px 0px;
}
nav {
	background-color: #242424;
	min-height: 70px;
	border-top: 1px solid rgba(255,255,255,0.18);
	border-bottom: 1px solid rgba(255,255,255,0.18);
	letter-spacing: 1px;
}
.nav_text {
	float: left;
	color: #ffffff;
	font-family: "BebasBold";
	font-size: 20px;
	line-height: 22px;
	padding-top: 25px;
	padding-left: 11px;
	padding-right: 27px;
}
.nav__items a {
    height: 100%;
    float: left;
    padding-left: 19px;
    border-left: 1px solid rgba(255,255,255,0.18);
}
.nav__items a:hover {
	background-color: #3d3d3d;
}
.nav__items a:active {
	background-color: #0a0a0a;
}
.nav__button {
    display: none;
    font-size: 22px;
    height: 54px;
		line-height: 54px;
    background-color: #d12f22;
    border-bottom: #ac160a 4px solid;
    text-align: center;
    padding: 0 15px;
    margin: 7px;
}
.nav__button:hover {
	background-color: #e05046;
}
.nav__button:active {
	background-color: #a6241b;
}
.nav__button span {
	color: white;
	vertical-align: text-top;
}
.nav__button span:last-child {
	font-family: "BebasBold";
	vertical-align: middle;
	margin-left: 5px;
}
.mainbutton_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 23px;
	width: 21px;
	float: left;
	margin: 23px 0px;
}
.aboutus_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 1px -31px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.prices_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 0 -63px;
	height: 23px;
	width: 21px;
	float: left;
	margin: 23px 0px;
}
.examples_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 1px -93px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.partners_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: -1px -124px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.contacts_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: -4px -167px;
	height: 27px;
	width: 17px;
	float: left;
	margin: 21px 0px;
}
.nav__warranty {
	float: right;
	border: 3px solid white;
	border-radius: 3px;
	width: 181px;
	margin: 8px auto;
	color: white;
}
.warranty_left {
	float: left;
	font-family: "BebasRegular";
	font-weight: bold;
	margin: 0 4px;
}
.warranty_right {
	float: right;
	font-family: "RobotoCondensedRegular";
	font-size: 15px;
	line-height: 17px;
	width: 112px;
	margin: 7px 4px 0px 0px;
}
.nav__hidden {
	display: none;
}
.nav__hidden--items {
	/*position: absolute;*/
}
.nav__hidden a{
	display: block;
	height: 69px;
	border-top: 1px solid rgba(255,255,255,0.18);
}
.nav__hidden a:hover {
	background-color: #3d3d3d;
}
.nav__hidden a:active {
	background-color: #0a0a0a;
}
.services {
    background-color: #191919;
}
.services__title {
	text-align: center;
	font-family: "BebasRegular";
	font-size: 40px;
	line-height: 26px;
	margin-top: 70px;
	font-weight: bold;
}
.services__title img:first-child {
	margin-right: 21px;
}
.services__title img:last-child {
	margin-left: 21px;
}
.services__items {
	margin-top: 70px;
}
.services__bodyrepair,
.services__mechworks,
.services__express,
.services__diagnostic,
.services__locksmithing,
.services__plastic-repairing {
	border: #353535 solid 1px;
}
.services__bodyrepair_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__mechworks_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: -130px 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__express_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: -255px 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__diagnostic_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: -382px 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__locksmithing_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: -512px 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__plastic-repairing_img {
	background-image: url('../img/services_iconset.png');
	background-repeat: no-repeat;
	background-position: -641px 0;
	height: 73px;
	width: 103px;
	margin: 20px auto;
}
.services__bodyrepair span,
.services__mechworks span,
.services__express span,
.services__diagnostic span,
.services__locksmithing span,
.services__plastic-repairing span {
	text-transform: uppercase;
	font-size: 18px;
	line-height: 26px;
	color: #fefefe;
	text-align: center;
	display: block;
	font-family: "BebasBold";
}
.services__bodyrepair span:hover,
.services__mechworks span:hover,
.services__express span:hover,
.services__diagnostic span:hover,
.services__locksmithing span:hover,
.services__plastic-repairing span:hover {
	text-decoration: underline;
}
.services__bodyrepair:hover,
.services__mechworks:hover,
.services__express:hover,
.services__diagnostic:hover,
.services__locksmithing:hover,
.services__plastic-repairing:hover {
	background-color: #2a2a2a;
}	
.arrow {
	height: 25px;
	width: 100%;
	background-color: #212121;
	margin-top: 12px;
	padding: 8px 0;
}
.arrow:hover {
	background-color: #353535;
}
.arrow--img {
	display: block;
	margin: auto;
}
.arrow .arrow__hidden--img {
	display: none;
	z-index: 10;
}
.services__hidden-menu--wrap {
	position: relative;
}
.services__hidden-menu {
	display: none;
	position: absolute;
	margin-top: 21px;
	background-color: #353535;
	font-size: 20px;
	line-height: 32px;
	font-family: "BebasBold";
	padding: 16px;
	z-index: 10;
}
.services__hidden-menu a {
	text-decoration: underline;
	text-transform: uppercase;
	padding: 0 9px;
	color: rgb(254,254,254);
}
.services__hidden-menu a:hover {
	text-decoration: none;
}	
.hidden-menu__items {
	text-align: center;
	margin: 0 35px;
}
.services__hidden-menu--wrap img {
	display: none;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 10px;
}
.services__button {
    display: block;
    background-color: #d12f22;
    width: 216px;
	margin: auto;
	margin-top: 154px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	color: rgb(255,255,255);
	font-family: "BebasBold";
	text-align: center;
	border-bottom: #ac160a 4px solid;
	margin-bottom: 48px;
}
.services__button span {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}
.services__button:hover {
	background-color: #e05046;
	color: #fff;
}
.services__button:active {
	background-color: #a6241b;
}
.aboutus {
	text-shadow: 0 1px 1px #7f7f7f;
}
.aboutus__title {
	text-align: center;
	padding-top: 42px;
	padding-bottom: 16px;
}
.aboutus__title span {
	font-size: 40px;
	line-height: 26px;
	color: rgb(5,5,5);
	vertical-align: text-bottom;
}
.aboutus__title img {
	vertical-align: text-bottom;
}
.aboutus__summary {
	padding-top: 16px;
	padding-bottom: 37px;
	text-align: center;
	max-width: 775px;
	margin: auto;
}
.aboutus__summary span {
	font-family: "RobotoRegular";
	font-size: 16px;
	line-height: 22px;
	color: rgb(5,5,5);	
}
.aboutus--greywrap {
	background-color: #d5d5d5;
	padding-top: 42px;
}
.aboutus__articles {
	text-align: center;
}
/*.article:nth-child(1),
.article:nth-child(4) {
	float: left;
}
.article:nth-child(2),
.article:nth-child(5) {
	display: inline-block;
}
.article:nth-child(3),
.article:nth-child(6) {
	float: right;
}
.article:nth-last-child(3),
.article:nth-last-child(1),
.article:nth-last-child(2) {
	margin-top: 77px;
}*/
.article {
	/*width: 352px;*/
	text-align: center;
	text-shadow: 0 1px 1px #7f7f7f;
	margin-bottom: 42px;
}
.article a {
	text-align: center;
}
.article img {
	display: block;
	border-top: solid #ac160a 8px;
	width: 290px;
	height: 241px;
	margin: auto;
	margin-bottom: 30px;
}
.article span {
	font-size: 15px;
	line-height: 20px;
	color: rgb(5,5,5);
	font-family: "RobotoRegular";
	text-align: center;
}
.article__header {
	margin-top: 33px;
	height: 54px;
	line-height: 54px;
	margin-bottom: 46px;
}
.article__title {
	text-align: left;
}
.article__title span {
	font-size: 36px;
	line-height: 26px;
	color: rgb(5,5,5);
	text-shadow: 0 1px 1px #7f7f7f;
	vertical-align: middle;
}
.article__button {
	display: block;
	background-color: #d12f22;
	height: 54px;
	font-size: 20px;
	line-height: 54px;
	color: rgb(255,255,255);
	font-family: "BebasBold";
	text-align: center;
	border-bottom: #ac160a 4px solid;
	margin-left: -16px;
}
.article__button span {
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}
.article__button:hover {
	background-color: #e05046;
	color: #fff;
}
.article__button:active {
	background-color: #a6241b;
}
.article__img {
	text-align: center;
}
.article__text {
	padding-right: 34px;
}
.article__text span {
	font-size: 17px;
	line-height: 22px;
	color: rgb(5,5,5);
	font-family: "RobotoCondensedRegular";
	text-shadow: 0 1px 1px #7f7f7f;
}
footer {
	height: 96px;
	line-height: 96px;
}
.footer--bgc {
	background-color: #2a2a2a;
	margin-top: 15px;
}
.footer__site span {
	font-size: 20px;
	line-height: 22px;
	color: rgb(255,255,255);
	font-family: "BebasBold";
}
.footer__site-map a {
	font-size: 20px;
	line-height: 22px;
	color: rgb(255,255,255);
	font-family: "BebasBold";
	text-decoration: underline;
	margin-right: 28px;
}
.footer__site-map a:hover {
	text-decoration: none;
}
.footer__counter {

}