*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	min-width: 320px;
	position: relative;
}
.hidden {
	display: none;
}
.carousel img {
	width: 100%;
	height: auto;
}
.parallax {
	background-attachment: fixed;
	background-position: 50% 0;
	position: relative;
}
header {
	position: relative;
	background: url('../img/top_bg_alt.jpg') no-repeat top center;
	height: 668px;
	font-family: "BebasRegular";
/*	-webkit-box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px;*/
	width: 100%;
}
.header__top-line {
	min-height: 97px;
	-webkit-box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	box-shadow: rgba(255,255,255,.2) 0 0 0 1px;
	width: 100%;
	background: rgba(0,0,0,.86);
	padding-top: 24px;
}
.header__top-line strong {
	display: block;
	color: #d12f22;
	text-transform: uppercase;
	font-size: 32px;
	/*font-family: "BebasBold";*/
}
.header__top-line a {
	font-size: 22px;
	text-decoration: underline;
}
.top-line__address {
    padding-left: 48px;
    background: url('../img/top_map.png') no-repeat center left;
		line-height: 28px;
}
.top-line__address a {
	color: white;
}
.top-line__logo_wrap {
    position: relative;
    width: 240px;
    margin: auto;
}
.top-line__logo {
    position: absolute;
    top: -25px;
}
.top-line__call {
    line-height: 28px;
    text-align: right;
}
.top-line__call a {
	color: white;
}
.top-line__call span {
	color: #fefefe;
}
.slogan {
	margin-top: 83px;
}
.slogan h1 {
    font-size: 40px;
    margin: 0.67em 0;
    text-align: center;
    margin: 0;
    color: white;
    line-height: 26px;
}
.shadowed {
	text-shadow: rgba(0,0,0,.55) 0 2px;
}
.header__button {
    position: absolute;
    bottom: 33px;
    width: 100%;
}
.header__button a {
	color: white;
	font-size: 20px;
	line-height: 18px;
	font-family: "BebasBold";
}
.header__button_left {
    width: 240px;
    background-color: #d12f22;
    display: inline-block;
    min-height: 54px;
    border-bottom: #ac160a solid 4px;
    float: left;
}
.header__button_left:hover {
	background-color: #e05046;
}
.header__button_left:active {
	background-color: #a6241b;
}
.header__button_right {
    margin-left: 21px;
    background-color: #d12f22;
    min-width: 96px;
    min-height: 54px;
    border-bottom: #ac160a 4px solid;
    float: left;
    padding: 16px 0px;
    text-align: center;
}
.header__button_right:hover {
	background-color: #e05046;
}
.header__button_right:active {
	background-color: #a6241b;
}
.button__left_img {
    float: left;
    padding: 10px 13px;
}
.button__left_text {
    float: left;
    width: 169px;
    padding: 7px 0px;
}
.topmenu {
	background-color: #242424;
	min-height: 70px;
	-webkit-box-shadow: rgba(255,255,255,.2) 1px 0 0 1px;
	box-shadow: rgba(255,255,255,.2) 1px 0 0 1px;
	letter-spacing: 1px;
}
.topmenu_text {
	float: left;
	color: #ffffff;
	font-family: "BebasBold";
	font-size: 20px;
	line-height: 22px;
	padding-top: 25px;
	padding-left: 11px;
	padding-right: 27px;
}
.topmenu a {
    height: 100%;
    float: left;
    padding-left: 19px;
}
.topmenu a:hover {
	background-color: #3d3d3d;
}
.topmenu a:active {
	background-color: #0a0a0a;
}
.mainbutton_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 23px;
	width: 21px;
	float: left;
	margin: 23px 0px;
}
.aboutus_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 1px -31px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.prices_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 0 -63px;
	height: 23px;
	width: 21px;
	float: left;
	margin: 23px 0px;
}
.examples_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: 1px -93px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.partners_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: -1px -124px;
	height: 23px;
	width: 23px;
	float: left;
	margin: 23px 0px;
}
.contacts_img {
	background-image: url('../img/topmenu_iconset.png');
	background-repeat: no-repeat;
	background-position: -4px -167px;
	height: 27px;
	width: 17px;
	float: left;
	margin: 21px 0px;
}