/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.nav__items a {
		display: none;
	}
	.nav__button {
		display: inline-block;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top-line__call {
		text-align: center;
		padding-left: 100px;
	}	
	.top-line__address {
		padding-left: 100px;
		background: url('../img/top_map.png') no-repeat 48px 3px;
	} 
	.article__button {
		margin-left: 0;
	}
	.article__img img {
		width: 290px;
	}
	.article__text {
		padding: 15px 15px;
		text-align: center;
	}
	.footer--bgc {
		background-color: #2a2a2a;
	}
	.footer__site-map {
		line-height: 25px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-line__logo_wrap {
		height: 84px;
	}
	/*.top-line__logo img {
		transform: scale(0.7);
		position: relative;
		right: 74px;
		bottom: 32px;
	}*/
	.top-line__address {
		background: none;
		padding-left: 0;
	} 
	.header__top-line a {
		font-size: 17px;
		display: contents;
	}
	.header__top-line strong {
		font-size: 31px;
	}
	.top-line__call {
		margin-top: -20px;
		text-align: left;
		padding-left: 0;
	}
	.slogan {
		margin-top: 54px;
	}
	.slogan h1 {
		line-height: unset;
	}
	.header__button_left {
		width: unset;
		text-align: center;
	}
	.button__left_img {
		display: none;
	}
	.nav__button span:last-child {
		display: none;
	}
	.services__title {
		line-height: unset;
	}
	.services__title img {
		display: none;
	}
	.aboutus__title span {
		line-height: 40px;
	}
	.aboutus__title img {
		display: none;
	}
	.article__header {
		height: unset;
		line-height: unset;
	}
	.article__title span {
		line-height: 36px;
		margin-bottom: 15px;
		display: block;
	}
	.article__button {
		margin-left: 0;
	}
	.article__img img {
		width: 290px;
	}
	.article__text {
		padding: 15px 15px;
		text-align: center;
	}
	.footer--bgc {
		background-color: #2a2a2a;
	}
	.footer__site-map {
		line-height: 25px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}