/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-line__logo_wrap {
		height: 84px;
	}
	.top-line__logo img {
		transform: scale(0.7);
		position: relative;
		right: 74px;
		bottom: 32px;
	}
	.top-line__address {
		background: none;
		padding-left: 0;
	} 
	.header__top-line a {
		font-size: 17px;
		display: contents;
	}
/*	.header__top-line a:hover {
		text-decoration: underline;
	}*/
	.header__top-line strong {
		font-size: 31px;
	}
	.top-line__call {
		margin-top: -20px;
		text-align: left;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}